{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    
  <style>
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        }
    body{
        background:  url("/static/images/wasi.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    a.nav-link{
      color: white;
    }
    a.nav-link:hover,a.nav-link.active:hover{
        color: aqua;
        
    }
    #nl1::after{
        content: " ";
        width: 0%;
        height: 2px;
        background: aqua;
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    #nl1:hover::after{
        width: 100%;
    }
    .card.card-body{
      border-color: black;
      background: rgba(0,0,0,0);
      color: white;
    }

    
    
    
    

  
  </style>
</head>
<body>


    <!--Navigation Bar Start-->
    <nav class="navbar fixed-top navbar-expand-sm navbar-light" style="background: rgba(0,0,0,0.5);">
      <div class="container">
		<a href="/about" class="navbar-brand mb-0 h1" style="color: white;">
			
				<img class="d-inline-block align-top" src="{% static 'images/s3.svg'%}" alt="" width="30" height="30" >
				Dr. I Need
			
		</a>
    
    <button type="button" 
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    class="navbar-toggler"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>    
    </button>
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item" id="nl1">
            <a href="/home" class="nav-link" >
              HOME
            </a>
          </li>
          <li class="nav-item" id="nl1">
            <a href="/about" class="nav-link">
              ABOUT
            </a>
          </li>
          <li class="nav-item active" id="nl1">
            <a href="/faq" class="nav-link">
              FAQ
            </a>
          </li>
          <li class="nav-item active" id="nl1">
            <a href="find_d" class="nav-link">
              SUGGESTIONS
            </a>
          </li>
          <li class="nav-item active" id="nl1">
              <a href="/news" class="nav-link">
                NEWS
              </a>
          </li>
          
        </ul>
        
      </div>
    </div>
  
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown"
        role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
          {{g}}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
            <a href="/profile" class="dropdown-item">Profile</a>
          </li>
          <li>
            <a href="/bmi" class="dropdown-item">Check BMI</a>
          </li>
            <li>
              <a href="/login" class="dropdown-item">Log Out</a>
            </li>
            
        </ul>
      </li>
    </ul></div>
  </div>
</nav>

<!--Navigation Bar End-->
<section>
    <br> <br><br><br>
 
    <div class="container text-center">
      
      <svg xmlns="http://www.w3.org/2000/svg" style="fill: black;" width="120px" height="120px" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
      </svg><br><br>
      <h1 style="color: black;">{{fields.0}}</h1><br><br>
  </div>
  <div class="container text-end">
    <h5>Appointments remaining: {{fields.10}}/30</h5>
    <form action="/doctorprof" method="get">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary m-2" value="{{fields.10}}">Cancel Appointment</button>
    </form>
    
  </div>

      <div class="container" style="margin: auto; padding:30px; background: rgba(0,0,0,0.15); color: black; background: rgba(0,0,0,0.15); border-radius: 30px;">
       
        <div class="content-section">
            <div class="row gx-0">
              <div class="row">
                  <div class="col">
                      
                        
                        <div class="card card-body">
                          <div class="row">
                            <div class="col">
                              <p><h6>Designation</h6></p>
                            </div>
                            <div class="col">
                              <p><h6>{{fields.6}}</h6></p>
                            </div>
                          </div>
                        </div>
                        <div class="card card-body">
                          <div class="row">
                            <div class="col">
                              <p><h6>Experience</h6></p>
                            </div>
                            <div class="col">
                              <p><h6>{{fields.3}}</h6></p>
                            </div>
                          </div>
                        </div>
                        <div class="card card-body">
                          <div class="row">
                            <div class="col">
                              <p><h6>Fees</h6></p>
                            </div>
                            <div class="col">
                              <p><h6>{{fields.4}}</h6></p>
                            </div>
                          </div>
                        </div>
                        <div class="card card-body">
                          <div class="row">
                            <div class="col">
                              <p><h6>Chamber</h6></p>
                            </div>
                            <div class="col">
                              <p><h6>{{fields.5}}</h6></p>
                            </div>
                          </div>
                        </div>
                        <div class="card card-body">
                          <div class="row">
                            <div class="col">
                              <p><h6>Department</h6></p>
                            </div>
                            <div class="col">
                              <p><h6>{{dep}}</h6></p>
                            </div>
                          </div>
                        </div>
                        <div class="card card-body">
                          <div class="row">
                            <div class="col">
                              <p><h6>Hospital</h6></p>
                            </div>
                            <div class="col">
                              <p><h6>{{fields.8}}</h6></p>
                            </div>
                          </div>
                        </div>
                        <div class="card card-body">
                          <div class="row">
                            <div class="col">
                              <p><h6>Ratings</h6></p>
                            </div>
                            <div class="col">
                              <p><h6>{{fields.9}}</h6></p>
                            </div>
                          </div>
                        </div>
                        <div class="card card-body">
                          <div class="row">
                            <div class="col">
                              <p><h6>Email</h6></p>
                            </div>
                            <div class="col">
                              <p><h6>{{fields.2}}</h6></p>
                            </div>
                          </div>
                        </div>
                    </div>
                   
              </div>
          </div>
           
          </div>  
          
      </div>
      <br><br>
  </section>
<br><br>



<!--Review Section-->

<div class="container">
  <div class="row">
    {% for dest in dests %}
  <div class="card-body" style="background: white; border-radius: 30px; padding: 30px;margin:20px;width:46%; flex: none;">
    <div class="row">
      <div class="col text-center">
        <h4><b><i>Ratings: {{dest.2}}/5</i></b></h4>
        <hr>
      </div>
    </div>
    <div class="row text-start">
      <div class="col">
        <p>{{dest.1}}</p>
  
      </div>
    </div>
    <div class="row text-end">
      <div class="col">
        <h6>-{{dest.0}}</h6>
      </div>
    </div>
  
  </div>
  {% endfor %}
  </div>
  <br><br>

  
</div>

<div class="text-center">
  <a type="button" href="/drrev" class="btn btn-primary m-2" role="button" style="height: 50px;width:200px; border-radius:10px;margin:20px;background:#ffb404;">Post Review</a>
</div>
<br> <br><br>

<div class="container">
  <div class="row">
    
  </div>
</div>












<br><br>
          <!--Footer-->
          <footer class="bg-dark text-white pt-5 pb-4">
            <div class="container text-center text-md-left">
                <div class="row text-center text-md-left">
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
                            Dr. I Need
                        </h5>
                        <p>YOUR NEED, OUR PRIORITY</p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 text-start mx-auto mt-3">
                        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
                            Our Partners
                        </h5>
                        <P><a href="#c1" class="text-white" style="text-decoration: none;" >
                            Hospitals
                        </a></P>
                        <P><a href="#c1" class="text-white" style="text-decoration: none;" >
                            Doctors
                        </a></P>
                        <P><a href="#c1" class="text-white" style="text-decoration: none;" >
                            Government Directories
                        </a></P>
                        <P><a href="#c1" class="text-white" style="text-decoration: none;" >
                            Gnews
                        </a></P>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 text-start mx-auto mt-3">
                        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
                            Useful links
                        </h5>
                        <P><a href="#c1" class="text-white" style="text-decoration: none;" >
                            HOME
                        </a></P>
                        <P><a href="#c1" class="text-white" style="text-decoration: none;" >
                            ABOUT
                        </a></P>
                        <P><a href="#c1" class="text-white" style="text-decoration: none;" >
                            FAQ
                        </a></P>
                        <P><a href="/find_d" class="text-white" style="text-decoration: none;" >
                            SUGGESTIONS
                        </a></P>
                        <P><a href="#c1" class="text-white" style="text-decoration: none;" >
                            NEWS
                        </a></P>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 text-start mx-auto mt-3">
                        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
                            Contact Us
                        </h5>
                        <P>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                              </svg> Mohakhali, Dhaka-1212
                        </P>
                        <P>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                              </svg> +8801757789212
                        </P>
                        <P>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                              </svg> drineed@gmail.com
                        </P>
                        <P>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                              </svg> Dr. I Need
                        </P>
                    </div>
                </div>
            </div>
        </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
     
    </script>
</body>
</html>        
 
